body {
	font-size: 25px;
	color:#fff;
	background-color: black;
	font-family: 'Oxygen', sans-serif;
}
#header-nav {
	background-color: #dbab0f;
	border-radius: 0;
	border:0;

}

#logo-img {
	background: url('../logo-img.jpeg') no-repeat;
	width:158px;
	height: 150px;
	margin: 13px 15px 10px 0;
}

.navbar-brand {
	padding-top: 25px;
}
.navbar-brand h1{
	font-family: 'Lora', serif;
	color: maroon;
	font-size: 2em;
	font-transform:15px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
	text-transform: uppercase;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbar-brand p{
	color: #000;
	font-size: .8em;
	margin-top: 15px;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar-brand p span {
	vertical-align: middle;
}
#nav-list{
	margin-top: 10px;
}
#nav-list a{
	color: black;
	text-align: center;
}
#nav-list a:hover {
	background: #E7E7E7;

}
#nav-list a span {
	font-size: 0.7em;
}
#phone {
	margin-top: 5px;}
#phone a{
	text-align:right;
	padding-bottom: 0;
}
#phone div{
	color: maroon;
	text-align: right;
	padding-right: 15px;
	font-size: 20px;
	font-weight: bold;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border:1px solid black; 
}

.navbar-header button.navbar-toggle{
	clear: both;
}

/* End header */
.panel-footer {
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #222;
	border-top: 0;
}

.panel-footer div.row{
	margin-bottom: 35px;
}

#hours, #address {
	line-height: 2;
}

#hours > span, #addres > span{
	font-size: 1.3em;
}

#address p{
	color: #dbab0f;
	font-size: .8em;
	line-height: 1.8;
}

#testimonials {
	font-style: italic;
}

#testimonials p:nth-child(2){
	margin-top: 25px;
}


/*home page*/
#menu-tile, #specials-tile, #map-tile{
	height: 250px;
	width:100%;
	margin-bottom: 15px;
	position: relative;
    border:2px solid #d4af37;
    overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover{
	box-shadow: 0 1px 5px 1px #cccccc;}

#menu-tile {
	background: url('../spec.jpg')no-repeat;
	background-position: center;
}
#specials-tile {
	background: url('../spe.jpeg')no-repeat;
	background-position: center;
}
#menu-tile span, #specials-tile span, #map-tile span {
	bottom: 0;
	right: 0;
	text-align: center;
	font-size: 1.1em;
	text-transform: uppercase;
	width:100%;
	position:absolute;
	background-color: #000;
    opacity: .8;
    color: #fff;
}

/*menu*/

.category-tile{
	position: relative;
	border:2px solid #dbab0f ;
	overflow: hidden;
	width: 200px;
	height:200px;
	margin: 0 auto 15px;
}
.category-tile span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;}

.category-tile:hover {
	box-shadow: 0 1px 5px 1px #dbab0f;
}

#menu-categories-title + div {
	margin-bottom: 50px;
}
/*single category*/

.menu-item-tile{
	margin-bottom: 25px;
}

.menu-item-tile hr{
	width: 80%;
}

.menu-item-tile .menu-item-price{
	font-size: 1.1em;
	text-align: right;
	margin-top: -5px;
	margin-right: -15px;
}
.menu-item-tile .menu-item-price span{
	font-size: .6em;
}

.menu-item-photo{
	position: relative;
	border:2px solid #d4af37;
	overflow: hidden;
	padding: 0;
	margin-right: -15px;
	margin-left: auto;
	max-width: 250px
}
.menu-item-photo div{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    background-color: #d4af37;
    text-align: center;
}

.menu-item-tile .menu-item-description{
	padding-right: 30px; 
	
}

h3.menu-item-title{
	margin: 0 0 10px;
}

.menu-item-details{
	font-size: .9em;
	font-style: italic;
}

@media (min-width: 1200px){
	#logo-img {
	background: url('../logo1-1.png') no-repeat;

	}
	.container .jumbotron{
		background: url('../ST1r.jpg') no-repeat;
		height: 500px;
		box-shadow: 0 0 50px #d4af37;
		border:2px solid #d4af37;

	}
}
@media (min-width: 992px) and (max-width: 1199px){
	#logo-img {
	background: url('../logo1-1.png') no-repeat;
	width:140px;
	height: 142px;
	margin: 5px 5px 5px 0;
}
	.container .jumbotron{
		background: url('../ST2r.jpg') no-repeat;
		height: 496px;
		box-shadow: 0 0 50px #dbab0f;
		border:2px solid #dbab0f;

	}
}

@media (min-width: 768px) and (max-width: 991px){
	#logo-img {
	background: url('../logo1.png') no-repeat;
	width:158px;
	height: 142px;
	margin: 5px 5px 5px 0;}
	.container .jumbotron{
		background: url('../ST5r.jpg') no-repeat;
		height: 490px;
		box-shadow: 0 0 50px #dbab0f;
		border:2px solid #dbab0f;
		padding: 0px;
	}
}

@media (max-width: 767px){
	.navbar-brand {
		padding-top: 10px;
		height: 80px;
	}
	.navbar-brand h1 {
		padding-top: 10px;
		height: 5vw;
	}
	.navbar-brand p {
		font-size: .6em;
		margin-top: 12px;
	}
	.navbar-brand p img {
		height: 20px;
	}
	#collapsable-nav a{
        font-size: 1.2em;
	}
	#collapsable-nav a span{
        font-size: 1em;
        margin-right: 5px;
	}
	#call-btn > a{
		font-size: 1.5em;
		display: block;
		margin: 0 20px;
		border:2px solid black;
		background: #dbab0f;
		color: maroon;
	}
	#xs-deliver {
		margin-top: 5px;
		font-size: .7em;
		letter-spacing: .1em;
		text-transform:uppercase;
	}
	/* footer*/

	.panel-footer section{
		margin-bottom: 30px;
		text-align: center;
	}
	.panel-footer section:nth child(3){
		margin-bottom: 0;
	}
	.panel-footer section hr {
		width:50%;
	}
	.container .jumbotron {
		margin-top: 30px;
		padding:0;
		box-shadow: 0 0 50px #dbab0f;
		border: 2px solid #dbab0f;
	}
	#menu-tile, #specials-tile{
		width:360px;
		margin:0 auto 15px;
	}
    .menu-item-photo{
    	margin-right: auto;
    }

    .menu-item-tile .menu-item-price{
    	text-align: center;
    	padding-bottom: 5px;
    }
    .menu-item-description{
    	text-align: center;
    }
}

@media (max-width: 479px){
    .navbar-brand h1 {
    	padding-top: 5px;
    	font-size: 6vw;
    }

	.col-xxs-12{
		position: relative;
		min-width: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: left;
		width:100%;

	}
}










